{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

<div class=page_content>
    <h2>Home</h2>
    <h3>This site is under construction. Content will not reflect the opinion of the Artist.</h3>
    <p>Holly H Moore is a struggling graphic artist on the wasatch front with a BA in graphic design from the U of U. She previously worked in production working directly with clients to meet all of their artistic needs but her corporate overlords did not propery value her skill with colors and graphics. Hence, she has allowed her favorite child to build this small place on the internet such that she may find better overlords who maybe have a health plan and/or benefits that don't include 10% off any large print banners or signs</p>
</div>
{% endblock content %}