{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

{% for post in post %}
        <section class="post">
                <h3><a class="post-title"
                    href="{{post.get_absolute_url}}">
                    {{ post.title }}
                </a></h3>
                <span class="post-meta">
                    {{post.updated_date }}
                </span>
                <p class="post-body">
                    {{post.body }}
                </p>
        </section>
{% endfor %}
<h2>This is portfolio.html</h2>
{% endblock content %}