#wrapper {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.post {
    background-color: #f1f1f1;
    
}
.post-title {
    text-decoration: none;
}
body {
    background-image:url("http://i.imgur.com/P0ypqbL.jpg"); /* this is not my image*/
    background-attachment:fixed;
    background-size : cover;
    text-align: center;
}
CenterStage {
    width: 50%;
}
footer {
    color: black;
}
li {
    display:inline-block;
    
}
li a {
    padding: 10px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
ul {
    list-style-type: none;
    background-color: #f1f1f1;
    padding: 10px;
}
