{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />

<!DOCTYPE html>
<html>
    
        <head>
            <title> Holly H Moore - {% block title %} {% endblock title %}</title>
        </head>
        <body>
            <div id=Wrapper align="center">
                <div id=left_space></div>
                <div id=CenterStage>
                    <div id=navigation_row>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{% url 'homepage:index' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'homepage:portfolio' %}">Porfolio</a>
                                </li>
                                <li>
                                    <a href="{% url 'homepage:contact' %}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    {% block content %}
                    
                    {% endblock content %}
                    <footer>Jeremiah Moore made this</footer>
                </div>
                <div id = right_space></div>
            </div>
        </body>
</html>